*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    background-color: rgb(90, 110, 143); 
        Color: #fff;
}

.secao {
    padding: 100px 0;
    
    padding-left: 50px;
    padding-right: 50px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    display: flex;   
}

h1 {
    margin-left:50px;
}

.descricao-inicial {
    margin-left: 50px;
    
}



ul { 
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 80px;

}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 30px;
    min-height: 85vh;
    
}
.principal h1 {
    font-size: 80px;
    margin-bottom: 20px;
    line-height: 1.1;
    letter-spacing: -4px;
}

.principal h1, span {
    color: #1eaa48; /*BUSCAR PADRONIZAR TODAS AS CORES <--------------------------*/
}

.principal p {
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    color: #bbb;
    margin-bottom: 40px;
}

.botao {
    display: inline-block;
    padding: 15px 30px;
    background-color: #1eaa48; /*BUSCAR PADRONIZAR TODAS AS CORES <--------------------------*/
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 50px;
}

.titulo-secao {
    font-size: 42px;
    margin-bottom: 60px;
    position: relative;
}

.titulo-secao::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #1eaa48; /*BUSCAR PADRONIZAR TODAS AS CORES <--------------------------*/
    position: absolute;
    bottom: -5px;
    left: 0px;
}

.grade-projetos {                   /*-------> PAREI AQUI EM GRADE PROJETOS EM 1:17:30 <-------------*/
    display: flex;
    grid-template-columns: repeat(auto-fill, (minmax(300px, 1fr)));
    gap: 30px;
    gap: 30px;
}

.card-projeto {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.img-projeto {
    width: 100%;
    height: 200px;
    object-fit: cover; /*IMAGEM COBRE TODO O ESPAÇO DISPONÍVEL*/
    border-radius: 20px;
}

.info-projeto {
    padding: 20px 0;
}

.info-projeto h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-projeto p {
    font-size: 16px;
    color: #777;
    margin-bottom: 15px;
}

.info-projeto a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1eaa48;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

/* aqui parte da parte ultima parte do section  */

.sobre {
    display: grid;
    gap: 50px;
    margin-left: 50px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
}

.img-sobre {
    width: 75%;
    height: 100%;
    object-fit: cover;
    border-radius: 210px;
}

.content-sobre h2{
    margin-bottom: 30px;
    
}

.content-sobre p {
    font-size: 18px;
    color: #777;
    margin-bottom: 20px;
}

.habilidades {
    display: flex;
    gap: 19px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-left: 8px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tag-habilidades {
    background-color: rgba(77, 124, 254, 0.2);
    color: #48dd3a;
    padding: 5px 18px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}